@font-face {
    font-family: monserrat;
    src: url('Montserrat-VariableFont_wght.ttf');
}

.bold-font {
    font-weight: bold;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
} 

body {
    margin: 0;
    background-color:#ffe6ff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #002080;
    color: #ffe6ff;
    z-index: 2;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 1080px) {
    .container.img-Game1 {
        height: 26rem;
        width: 60%;
        border-radius: 25px ;
        background-image: url("JumpingBallzPCImage.png");
    }

    .img-Game1 .game-name {
        position: absolute;
        left: 65%;
        top:18%;
        color:#1a1a1a;
    }

    .text-container {
        display: flex;
    }

    .phone-title-font-size {
        margin-left: 3rem;
    }


}

.phone-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.nav-menu {
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
}

.pc-menu .nav-menu {
    justify-content: space-between;

}


.padding-m {
    padding: 1rem;
}

.margin-m {
    margin: 1rem;
}

.margin-top {
    margin-top: 5rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-bottom {
    margin-bottom: 10rem;
}

.container {
    height: 12rem;
    width: 90%;
    border-radius: 25px ;
    color:#ffe6ff;
    z-index: 1;
    cursor:pointer;
    margin-bottom: 3rem;
    background-color: #002080;
    background-size:cover;
    background-position: center;
    background-blend-mode:luminosity;
}

.text-container {
    width: 30%;
    background-color: #3366ff;
    border-radius: 25px ;
    color:#ffe6ff;
    top: 20rem;
}

.about-container {
    position: relative;
    width: 80%;
    left: 0;
    right: 0;
    margin:auto;
    background-color:#3366ff;
    color:#ffe6ff;
    z-index: 1;
    border-radius: 25px;
}

.about-section {
    background-color: #a1adc6;
}

.img-Game1 .text-container {
    position: absolute;
    left: 65%;
}

.img-Game1 {
    background-image: url("JumpingBallz.png");
}

.game-description {
    font-size: medium;
    text-align: left;
    margin-left: 8%;
}

.github-link {
    margin-bottom: 3rem;
    z-index: 3;
}

.github-link p {
    color: #1a1a1a;
}

.montserrat-font {
    font-family: 'montserrat', sans-serif;
}

.Bebas_Neue-font {
    font-family: 'Bebas_Neue', sans-serif;
    src: url('BebasNeue-Regular.ttf')
}

.font-size-m {
    font-size: 2rem;
}

.phone-title-font-size {
    font-size: 1.5rem;
}
.phone-text-font-size {
    font-size: 1.4rem;}

.Img-Game1 {
    position:relative;
    width: 100%;
    border-radius: 25%;
}

.icon {
    height: 2rem;
    width: 2rem;
}



.circle {
    border-radius: 50%;
}

.background-accent {
    background-color: #002080;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.align-end {
    align-items: end;
}

.flex-column {
    flex-direction: column;
}

.shadow-50 {
    filter:drop-shadow(0 0 0.3rem #000000c4)
}

.color-link, .color-link a {
    color: #ffe6ff;
}

.rounded-m {
    border-radius: 1rem;
}

.flex-row {
    flex-direction: row;
}


a {
    color:#ffe6ff;
    text-decoration: none;
}

li {
    list-style: none;
}

.end-of-page {
    width: 100%;
    height: 2rem;
}
